.body{
  font-family: 'Open Sans', sans-serif;
}

.bloancontainer {
  margin-top: 20px;
}

.bloanrow {
  display: flex;
  align-items: center;
}

.bloan-col-md-6 {
  padding: 0 15px;
  padding-left: 5%;
  max-width: 50%;
}

.bloan-col-md-6-bl{
  padding: 0 15px;
  padding-left: 5%;
  max-width: 40%;
}


.bloan-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.bloan-image-container img {
  max-width: 100%;
  height: auto;
}

.bloan-text-container h1 {
  font-size: 3rem;
  color: #3e2780;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
.bloan-col-md-6-bl {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bloan-col-md-6-bl form{
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
  
}
.bloan-col-md-6 h1{
 
  color: #3e2780;
  font-size: 3rem;
  font-weight: normal;
}
.bloan-col-md-6-bl h2{
 
  color: #3e2780;
  font-size: 2rem;
  font-weight: normal;
}

.bloan-form-group {
  margin-bottom: 20px;
  font-size: 16px;
  color: #000000a6;
}



.ploan-invalid-feedback {
  color: #dc3545;
  font-size: 0.875rem;
}

.bloan-btn-primary {
  background-color: #3e2780;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.bloan-btn-primary:hover {
  background-color: #5f3ba6;
}
/*-----------------------------------------why choose us--------------------------------------*/

.bit-loan-why-choose-us {
  text-align: center;
  margin-top: 100px;
}
.bit-loan-why-choose-us h1{
  color: #3e2780;
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  padding-bottom: 5%;
} 

/*-----------------------------------------how it works---------------------------------------*/
.bit-loan-features {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}


.bit-loan-feature img {
max-width: 60%;
height: 60%;
margin-bottom: 10px;
}

.bit-loan-feature p {
text-align: center;
margin-bottom: 10px; /* Adds space between paragraphs */
font-size: 1.3rem;
color: #000000a6;
}

  .bit-loan-feature {
    text-align: center;
    flex: 1;
    padding: 10px; /* Added padding to space out the features */
    max-width: 30%;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 
.bcol-md-12 {
  text-align: center;
  padding: 20px;
}
.bcol-md-12 h3{
  color: #3e2780;
}

.bloan-btn-btn-primary{
background-color: #3e2780;
color: #ffffff;
padding: 10px;
width: 50%;
border-radius: 5px;
margin-left: 25%;
}
  /*  ----------------------------How it works-------------------------------*/ 
  .bloan-how-it-works {
      text-align: center;
      margin-top: 60px;
    }
    .bloan-how-it-works h1{
      color: #3e2780;
      margin-bottom: 40px;
      font-size: 3rem;
      font-weight: normal;
    }
    
    .bit-loan-feature {
      flex: 1;
      border-radius: 8px;
      text-align: center;
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      
    }


/*---------------------------Example styles for dropdown arrow and FAQ-------------------------------*/

.faq-item-bl{
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;

}

.faq-question-bl {
  display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.arrowbl {
  font-size: 14px;
  transition: transform 0.3s ease; /* Smooth arrow rotation transition */
}

.arrowbl.expanded {
  transform: rotate(180deg); /* Rotate arrow when expanded */
}

.faq-answer-bl {
  margin-top: 10px; /* Margin above answer */
  font-size: 18px;
 
}

.faq-answer-bl p {
  margin: 0; /* Remove default margin for paragraphs */

}
.faq-container-bloan h1{
  font-size: 3 rem;
  color: #3e2780;
  font-weight: normal;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* --------------------------------otp--------------------------------------- */

/* Add styles for OTP input fields */
.otp-input-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.otp-input {
  width: 40px; /* Adjust width as needed */
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 5px; /* Add space between OTP inputs */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: #fff;
  width: 300px; /* Adjust modal width as needed */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loan-modal-content {
  text-align: center;
}

.loan-modal-content h3 {
  margin-bottom: 10px;
}

.loan-modal-content p {
  margin-bottom: 20px;
}
.loan-modal-content img{
  margin-left: 80px;
  width: 150px;
  height: 150px;
}

.loan-modal-content input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
}

.bloan-btn-btn-primary {
  margin-right: 25%;
  /* padding: 10px 10px; */
  background-color: #3e2780;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bloan-btn-btn-primary:hover {
  background-color: #0056b3;
}
.otpclose{
  margin-left: 85%;
  outline: none;
  cursor: pointer;
  background-color: hsl(0, 14%, 95%);
  background: none;
  border: none;
  padding: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.otpclose:hover{
  background-color: hsl(0, 14%, 95%);
}

@media (max-width: 768px) {
  .bloancontainer {
    overflow: hidden;
  }
  .bloanrow {
    flex-direction: column;
  }
 
  .bloan-col-md-6 {
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .bloan-col-md-6-bl {
    width: 95%;
    max-width: 100%;
  }
  .bloan-col-md-6-bl h2{
 
    color: #3e2780;
    font-size: 1.6rem;
    font-weight: normal;
  }
  .bloan-col-md-6-bl form{
    width: 100%;
    max-width: 100%;
  }
  .bloan-text-container h1{
    max-width: 100%;
    font-size: 28px;
  }
  .bloan-image-container{
    max-width: 100%;
    object-fit:fill;
   
  }
  .bloan-image-container img{
    height: auto;
  }
  /*------------------------------------*/
  .bloan-how-it-works {
    text-align: center;
    margin-top: 40px;
  }
  .bloan-how-it-works h1{
    margin-bottom: 40px;
    font-size: 28px;
  }
  
  /*----------------------------------why choose-us-section-----------------------------------------*/
  .bloan-why-choose-us {
    text-align: center;
    margin-top: 60px;
  }
  .bloan-why-choose-us h1{
    font-size: 28px;
  }
  .bit-loan-feature {
    text-align: center;
    flex: 1;
    padding: 10px; /* Added padding to space out the features */
    max-width: 100%;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .bit-loan-feature p{
    margin-top: 20px;
    font-size: 18px;
  }
  .bit-loan-feature img{
    width: 40%;
    height: 40%;
  }
  .bit-loan-features {
    display: block;
    margin-top: 10px;
  }
  .bit-loan-feature {
    margin-bottom: 20px;
  }
/*-------------------------------------------faq--------------------------------------------------------*/
    .faq-container-bloan h1{
        font-size: 28px;
        color: #3e2780;
        padding-bottom: 20px;
      }
    .faq-question-bl{
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        }
    .faq-answer-bl{
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
  
        }
  

  }