
@media (min-width :768px) {
  /*--------------------------------------------member---------------------------------*/
  .bloan-fs {
      display: flex;
      justify-content: space-around;
      margin-top: 70px;
    }
    .bloan-f {
      justify-content: space-around;
      margin-top: 70px;
    }
    .bloan-f h4 {
      text-align: center;
      margin-bottom: 15px; /* Adds space between paragraphs */
      font-size: 1.3rem;
      color: #3e2780;
      }
    .bloan-f p {
      text-align: center;
      margin-bottom: 10px; /* Adds space between paragraphs */
      font-size: 1.2rem;
      color: #000000a6;
      }
  }
    
    @media(max-width :768px){
          /*-------------member sect-------------------------------*/
          .bloan-fs{
              display: flex;
              justify-content: space-between;
          }
          .bloan-f{
              justify-content: space-between;
              padding: 20px;
          }
      
      
          .bloan-f h4 {
              text-align: center;
              margin-bottom: 15px; /* Adds space between paragraphs */
              font-size: 1.2rem;
              color: #3e2780;
              }
            .bloan-f p {
              text-align: center;
              margin-bottom: 10px; /* Adds space between paragraphs */
              font-size: 14px;
              color: #000000a6;
              }
              .bloan-member {
                  text-align: center;
                  margin-top: 60px;
              }
      
  
          }